<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:social="http://spring.io/springsocial"
      >
<head>
    <title>Spring Social Showcase</title>
</head>
<body>
<div id="header">
    <h1><a th:href="@{/}">Spring Social Showcase</a></h1>
</div>

<div id="content">
    <h3>Connect to QQ</h3>

    <form th:action="@{/connect/qq}" method="POST">
        <div class="formInfo">
            <p>You aren't connected to QQ yet. Click the button to connect Spring Social Showcase with your QQ account.</p>
        </div>
        <p><button type="submit">QQ Login</button></p>
    </form>


</div>
</body>
</html>